<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>music.163.com index</title>

	<link rel="stylesheet" href="stylesheets/normalize.css">
	<link rel="stylesheet" href="stylesheets/projects/common.css">
	<link rel="stylesheet" href="stylesheets/projects/music.163.com/style.css">
</head>

<body>
	<div class="header">
		<div class="logo f-l">
			<a href="#"></a>
		</div>
		<ul class="nav list-unstyled f-l">
			<li class="f-l">发现音乐</li>
			<li class="f-l">我的音乐</li>
			<li class="f-l">朋友</li>
			<li class="f-l">下载客户端</li>
		</ul>
		<div class="search"></div>
		<div class="login"></div>
	</div>
	<div class="main"></div>
	<div class="footer"></div>
</body>
</html>