/**
 * add by wlj @20150810 - common css class
 */

a {
	text-decoration: none;
}
ul {
	margin: 5px;
}

ul.list-unstyled {
	list-style: none;
	padding: 0;
}
.f-l {
	float: left;
}
.f-r {
	float: right;
}
.clear {
	clear: both;
}
.inline {
	display: inline-block;
}
.main {
	width: 1200px;
	margin: 0 auto;
}